/* Specific elements
 ========================================================================*/
header,main,footer {
	padding: 0 2em;
}
header {
	 border-bottom:1px solid rgb(157,189,198);
	 margin-bottom: 1em;
	 background: rgb(218,234,239);
 }
header h1 {
	 color: rgb(127,64,45);
	 padding-top: 1em;
 }

 main h2 {
	 margin-top: 0.2em;
	 margin-bottom: 0.5em;
 }
  main h3 {
	 margin-top: 0.2em;
	 margin-bottom: 0;
 }
 footer {
	 background: rgb(157,189,198);
	 padding: 2em;
	 font-size: 0.8em;
 }

/*
-------------------------------------------------- */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
    
}
#logo
{
  height: 120px;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;

}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
     
    
}
.navbar-wrapper .navbar .container {
  width: auto;
 background-color: aliceblue;
   
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav  > .active > a:focus  {
    color: darkgray;
    background-color:aliceblue ; 
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,  .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .btn-default:hover   
{
    color:darkcyan;
    background-color:aliceblue;
}


body{
   font-size: 20px;  
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 650px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 650px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 650px;
}
.carousel-caption h1{
    font-size: 2.5em;
  
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  margin-top: 0;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
#about{
    
    background: url(../img/download.jpg);
    background-repeat: repeat-x;
    height: 250px;
}
#about .container{
    padding-top: 30px;
    padding-left: 30px;
}
#contact{
    
    background-color: #89CAE0;
    height: 300px;
}
#about .container{
    padding-top: 30px;
    padding-left: 30px;
}
#footer{
    color: aliceblue;
    background: #333333;
    width: 100%;
  
border-top: 1px solid #4D4E50;
background-color: 50px;

text-align: center;
opacity: 0.95;
}
/* Featurettes
------------------------- */


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
  color:darkcyan;  
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
 /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

#logo{
    height: 50px;
    margin: 0px 15px 0px -40px;
    
}
